[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/github.com/MagicTheGathering/mtg-sdk-go"]
	path = vendor/github.com/MagicTheGathering/mtg-sdk-go
	url = https://github.com/MagicTheGathering/mtg-sdk-go.git
